.tasklist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-top: 2px solid rgba(212, 212, 212, 0.1);
    padding: 30px;
  }
  
  .tasklist ul {
    list-style: none;
    width: 70%;
  }
  
  .tasklist ul li {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 14px;
    font-weight: bolder;
    transition: 0.4s;
    user-select: none;
  }
  .tasklist ul li .isComplete {
    visibility: visible;
    color: rgb(3, 86, 51);
    margin-right: 10px;
  }
  
  .tasklist ul li .checkicon {
    visibility: hidden;
    margin-right: 10px;
  }
  
  .tasklist ul li p.taskcomplete {
    text-decoration: line-through;
  }
  
  .tasklist ul li .edit,
  .tasklist ul li .close {
    margin-left: 10px;
  }
  
  .tasklist ul li .edit:hover {
    color: rgb(3, 86, 51);
  }
  
  .tasklist ul li .close:hover {
    color: rgb(3, 86, 51);
  }
  
  .tasklist ul li:nth-child(even) {
    background-color: #06b287;
  }
  .tasklist ul li:nth-child(odd) {
    background-color: #91f6dd;
  }
  .tasklist ul li:hover {
    /* background-color: #616c67; */
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
      -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
      0.125rem 0.125rem 1rem #1de9b6;
    cursor: pointer;
  }
  